@model UsitColours.Models.SearchJobViewModel

<h1>asddaads</h1>
<div class="row">
    @if (Model.Jobs.Count() > 0)
    {
        foreach (var job in Model.Jobs)
        {
            @Html.Partial("_JobBase", job)
        }

        <div class="row">
            <div class="col-md-12 col-md-offset-4">
                <ul class="pagination">
                    @for (int i = 0; i < Model.Count; i++)
                    {

                        <li class="active">
                            @Ajax.ActionLink(i.ToString(),
                                   "SearchResult",
                                   "Job",
                   new { page = i, searchTerm = Model.SearchTerm },
                   new AjaxOptions
                   {
                       UpdateTargetId = "JobResult",
                       InsertionMode = InsertionMode.Replace
                   })
                        </li>
                    }
                    }
                    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                </ul>
            </div>
        </div>
    }
    else
    {
        <h2 class="center-align">No result found</h2>
    }

</div>
