@Styles.Render("~/Content/jobSearch")

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<div id="flipkart-navbar">
    <div class="container">
        <div class="row row1">
        </div>
        <div class="row row2">
            <div class="col-sm-2">
                <h1 style="margin: 0px; font-size: 35px;"><span class="largenav">Find Job</span></h1>
            </div>
            <div class="flipkart-navbar-search smallsearch col-sm-8 col-xs-11">
                <div class="row">
                    @using (Ajax.BeginForm("SearchResult", "Job", new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "JobResult",
                        HttpMethod = "GET"
                    }))
                    {
                        <input type="text" name="searchTerm" class="flipkart-navbar-input col-xs-11" />

                        <input type="submit" value="Search" class="flipkart-navbar-button col-xs-1" />
                        <span class="glyphicon glyphicon-search col-xs-1"></span>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" id="JobResult">
</div>